body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #ffd8d8;
  color: #222;
  -webkit-font-smoothin: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.ponto {
  color: #807e2a;
}
.menu {
  grid-column: 3/5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #5c0000;
  margin-top: 0px;
}
.menu a:hover {
  color: #c64444;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.grid-section {
  grid-column: 2/4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.massas h2 {
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #c64444;
}

.massas h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #5c0000;
}

.massas p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.massas-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.massas-lista li {
  cursor: pointer;
}

.massas-lista::-webkit-scrollbar {
  width: 18px;
}

.massas-lista::-webkit-scrollbar-thumb {
  background: #5c0000;
  border-left: 4px solid #ffd8d8;
  border-right: 4px solid #ffd8d8;
}

.massas-lista::-webkit-scrollbar-track {
  background: #ffd8d8;
}

.massas-descricao {
  grid-column: 3;
}

.massas-descricao section {
  margin-bottom: 3rem;
}

.perguntas-lista {
  grid-column: 2 / 4;
}

.perguntas-lista dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #c64444;
}

.perguntas-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #5c0000;
}

.perguntas-lista dd {
  font-family: Helvetica, Arial;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #5c0000;
}

.direitos {
  grid-column: 1/3;
  margin-bottom: 2rem;
  background: #5c0000;
  color: white;
  margin-bottom: 0px;
}

.direitos {
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }
  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  .massas-lista {
    grid-column: 1;
  }
  .massas-lista,
  .dados,
  .mapa {
    grid-column: 1/3;
  }
  .grid-section h1 {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0px;
  }
}

.js-tabcontent section {
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show 0.7s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: matrix3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: matrix3d(0, 0, 0);
  }
}

.js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: "топ";
  margin-left: 10px;
}
.js-accordion dt.ativo::after {
  content: "тон";
}

.js-accordion dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transition: translate3d(0, 0, 0);
}
